.container {
  margin: 0 auto;
  width: 1100px;
}

.header {
  height: 180px;
  min-height: 180px;
  background: url(./img/bg/hero.jpg) center center / cover no-repeat;
  margin-bottom: 130px;
  position: relative;
  overflow: hidden;
  min-width: 1290px;
}

.header__container {
  width: 1290px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header__img {
  padding-top: 10px;
}

.decor-text {
  font-family: "alegreya", Arial, sans-serif;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 92px;
  left: 115px;
  transform: translateY(-42px);
}

.decor-text__word {
  background: #000;
  padding: 0 17px 8px;
  margin-top: -7px;
}

.decor-text__word--color-yellow {
  color: #ffbc2f;
}

.decor-text__word:nth-child(2n) {
  margin-left: 8px;
}

.decor-text__word:nth-child(4) {
  margin-left: 8px;
}

.header-decor__image {
  height: auto;
  max-width: 100%;
}

.header__decor {
  display: flex;
  margin-right: 98px;
  align-items: flex-start;
  width: 50%;
  transform: translateY(-35px);
}

.mail__content {
  padding: 7px;
}

.mail {
  margin-top: 30px;
  padding: 0;
}

/* карточка товара старт */

.card-prod {
  display: flex;
  border: 10px solid #ffc92f;
}

.card-prod__box {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #ffc92f;
}

.shirt-img {
  width: 95%;
  height: auto;
}

.card-name__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #ffc92f;
  margin: 0;
}

.card-name__subtitle {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 50px;
  margin: 0;
}

.card-name__price {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  background: #ffc92f;
  color: #000;
  width: 100px;
  font-size: 30px;
  text-align: center;
}

.card-name {
  border-bottom: 1px solid #e4ddcc;
  padding: 30px;
}

.desc-box {
  border-bottom: 1px solid #e4ddcc;
  padding: 30px;
}

.card-desc {
  background-color: #fcf5e6;
}

.card-prod__size {
  padding: 30px;
}

.desc-box__item {
  margin-bottom: 15px;
  font-size: 15px;
}

.desc-box__item:last-child {
  margin-bottom: 0;
}

.card-prod__desc {
  flex: 1;
}

.card-prod__img {
  max-width: 100%;
  height: auto;
}

.size {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.payment {
  padding-top: 25px;
}

.payment__btn {
  cursor: pointer;
  font-size: 30px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding: 10px 70px;
  background: var(--black);
  color: var(--yellow);
  border: none;
}

.payment__btn:hover {
  background: var(--red);
  color: white;
}

input[type="radio"] {
  display: none;
}

label::before {
  content: "";
}

.a:hover {
  border-color: #ffc92f;
}

.s:hover {
  border-color: #ffc92f;
}

.d:hover {
  border-color: #ffc92f;
}

.f:hover {
  border-color: #ffc92f;
}

.g:hover {
  border-color: #ffc92f;
}

.size__label {
  position: relative;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  border: 2px solid #ebb333;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  justify-content: center;
}

.size__label:last-child {
  margin-right: 0;
}

.size__input:checked + .size__label {
  background-color: #ffc92f;
  color: white;
}

input [type="radio"]:checked + label:before {
  height: 16px;
  width: 16px;
  border: 10px solid white;
  background-color: #ffc92f;
}

input[type="radio"] {
  display: none;
}

label::before {
  content: "";
}

.color__input:checked + .color__lable {
  border-color: #ffc92f;
}

.color__lable {
  border-radius: 50%;
  border: 3px solid transparent;
  padding: 4px 4px;
  align-items: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  justify-content: center;
  display: flex;
}

.color {
  margin-bottom: 10px;
  height: auto;
  display: flex;
}

.color__ring {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(87, 51, 20, 0);
  width: 30px;
  height: 30px;
}

.color__circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.black {
  background-color: rgb(0, 0, 0);
}

.white {
  border: 1px solid #e6dfcf;
  background-color: rgb(255, 255, 255);
}

.green {
  background-color: rgb(50, 117, 53);
}

.blue {
  background-color: rgb(27, 107, 182);
}

.red {
  background-color: rgb(189, 28, 28);
}

/* карточка товара конец */

.about-product {
  margin-top: 90px;
}

.information-about-product {
  display: flex;
  border: 10px solid #ffc92f;
  width: 1100px;
}

.info-prod {
  display: flex;
  border: 10px solid #ffc92f;
  height: auto;
}

.info-prod__list {
  border-right: 1px solid #e6dfcf;
  flex: 1;
  padding: 30px;
}

.info-prod__text {
  padding: 50px;
  flex: 2;
}

.info-prod__item {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.info-prod__icon {
  display: block;
  padding-right: 25px;
  padding: 10px;
  width: 35px;
}

.filter-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.filter-menu__item {
  margin-right: 40px;
}

.filter-menu__item:last-child {
  margin-right: 0;
}

.filter-menu__link {
  font-family: var(--titlesFont);
  text-transform: uppercase;
  padding: 3px 21px;
  color: var(--black);
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.filter-menu__link:hover {
  color: var(--red);
}

.filter-menu__item--active .filter-menu__link {
  color: var(--yellow);
  background-color: var(--black);
}

.footer {
  margin-top: 85px;
}

.site-menu__item:last-child {
  margin-bottom: 0;
}

.site-menu__text:last-child {
  margin-bottom: 0;
}
